*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #222;
    cursor: auto;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
/* navbar desing */
#navbar{
    width: auto;
    height: 103px;
    background-color: black;
    color: white !important;
    padding: 11px;
    align-items: center;
}
#navbar-content{
    background-color: #2B2B2B;
    padding: 2px;
    margin-top: 10px;
}
.nav-links{
    padding: 10px;
    margin-top: 12px !important;
   
}
.nav-btn{
    width: 173px;
    height: 43px;
    background: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    bottom: 1px;
    border: 2px solid white;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: width;
    transition-delay: 0.3s;
    
 }
 .nav-btn:hover{
    background: black;
    color: orange;
    width: 250px;
 }
.navbar-img-logo{
    width: 70%;
}
.nav-items-link{
    margin-top: 5px;
    color: white;
    text-decoration: none;
    transition-duration: 2s;
    transition-property: color;


}
.nav-items-link:hover{
    color: orange;
}
.link-position{
    margin-top: 10px;
    cursor: pointer;
 }
 .nav-icon{
     position: relative;
    left: 2px;
    top: 1px;
 }
/* navbar desing */
/* second card part desing */
#second-card{
    height: 537px;
    width: auto;
    background: linear-gradient(90deg, rgba(3,2,1,1) 40%, rgba(240,31,110,1) 71%);
}
/* second card part desing */
.hello-card{
    margin-top: 117px;
    /* height: 300px !important; */
 }
 #background-img{
    height: 386px !important;
   
 }
 #card-img{
    height: 100%;
     
 }
 #card-img-overlay{
    margin-top: 185px;
 }
.card-name{
    background-color: red;
    background: white;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family: cursive;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 5px;
}
.Join{
    background-color: red;
    padding: 5px;
    width: 218px;
    border: none;
    font-weight: bolder;
    color: white;
}
@media only screen and (max-width: 576px) {
    #second-card{
        height: 1540px;
    }
}